<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sticky Sidebar Navigation Concept Layout - London Underground</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/MrDarrenGriffin/pen/JjwMRwY -->
</head>

<body>

    <!-- page content and controls will be here -->
    <div class="container">
        <div class="sidebar">
            <div class="tfl-roundel-container">
                <div class="tfl-roundel">
                    <div>
                        <span>Underground</span>
                        <span>S. Kensington</span>
                        <span>Sloane Square</span>
                        <span>Victoria</span>
                        <span>St. James's Park</span>
                        <span>Westminster</span>
                        <span>Embankment</span>
                        <span>Temple</span>
                        <span>Blackfriars</span>
                        <span>Mansion House</span>
                        <span>Cannon Street</span>
                        <span>Monument</span>
                        <span>Tower Hill</span>
                        <span>@MrDarrenGriffin</span>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="station interchange">
                    <span></span>
                </div>
                <div class="station interchange">
                    <span>South Kensington</span>
                </div>
                <div class="station">
                    <span>Sloane Square</span>
                </div>
                <div class="station">
                    <span>Victoria</span>
                </div>
                <div class="station interchange">
                    <span>St. James's Park</span>
                </div>
                <div class="station interchange">
                    <span>Westminster</span>
                </div>
                <div class="station">
                    <span>Embankment</span>
                </div>
                <div class="station interchange">
                    <span>Temple</span>
                </div>
                <div class="station">
                    <span>Blackfriars</span>
                </div>
                <div class="station">
                    <span>Mansion House</span>
                </div>
                <div class="station interchange">
                    <span>Cannon Street</span>
                </div>
                <div class="station interchange">
                    <span>Monument</span>
                </div>
                <div class="station">
                    <span>Tower Hill</span>
                </div>
                <div class="station">
                    <span>
                        <a href="https://twitter.com/MrDarrenGriffin" target="_top">Follow me on <div>𝕏</div></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>