body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0f0f;
    /* font: https://modernfontstacks.com */
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    overflow: hidden;
}

.notification-bell {
    position: relative;
    background: #f1f1f1;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animate.notification-bell {
    animation: notif 1.5s ease-in-out;
}

@keyframes notif {
    50% {
        background: #f1f1f1d0;
    }
}

.notification-bell::before {
    content: "";
    position: absolute;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    background: linear-gradient(rgba(119, 59, 252, 1) 0%, rgba(176, 254, 161, 1) 33%, rgba(233, 255, 62, 1) 66%, rgba(255, 36, 36, 1) 100%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
}

.animate.notification-bell::before {
    animation: spin 1.5s ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

    50% {
        opacity: 1;
    }
}

.bell-con {
    width: 55%;
    height: 55%;
}

.notification-count {
    visibility: hidden;
    position: absolute;
    transform: translate(1.6rem, -1.7rem);
    background: #f00;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 0 0 .2rem #f1f1f1;
    font-weight: 600;
}