<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Responsive Image Gallery with Flexbox Layout</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/cesarobedfl/pen/OJGMZQd -->
</head>

<body>

    <!-- page content and controls will be here -->
    <div class="container">
        <div class="grid">
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
        </div>
    </div>

</body>

</html>