<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Navigation Sticky with Burger Expandible Layout</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/vanessaFayard/pen/KKbyvxJ -->
</head>

<body>

    <!-- page content and controls will be here -->
    <header>
        <div id="mainNav" class=" main-nav">
            <button id="mainNavBurger" class="burger toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </button>
            <div class="navigation nav-content">
                <nav>
                    <span>
                        <a href="#portfolio">Portfolio</a>
                    </span>
                    <span>
                        <a href="#press">Press</a>
                    </span>
                    <span>
                        <a href="#shop">Shop</a>
                    </span>
                    <span>
                        <a href="#about">About</a>
                    </span>
                </nav>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <h2>Portfolio</h2>
    </section>
    <section id="press">
        <h2>Press</h2>
    </section>
    <section id="shop">
        <h2>Shop</h2>
    </section>
    <section id="about">
        <h2>About</h2>
    </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>