@media (prefers-reduced-motion: no-preference) {
    /* reference for this media query: https://www.smashingmagazine.com/2021/10/respecting-users-motion-preferences/ */
    @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Bebas Neue', cursive;
    }

    body,
    html {
        height: 100dvh;
        background-color: black;
        overflow: hidden;

    }

    p {
        color: white;
        font-size: 8rem;
        text-align: center;
        letter-spacing: 0.5rem;
    }

    .container {
        height: 100%;
        width: 100%;
    }



    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-size: 120% 120%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    .image :nth-child(2) {
        color: white;
        font-size: 6rem;
        text-align: center;
        letter-spacing: 0.3rem;
        text-decoration: underline solid white;
    }

    #one {
        z-index: 3;
        background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=3544&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }

    #two {
        z-index: 2;
        background-image: url("https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }

    #three {
        z-index: 2;
        background-image: url("https://images.unsplash.com/photo-1497294815431-9365093b7331?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }

    #satellite {
        position: absolute;
        aspect-ratio: 1/1;
        height: 20%;
        background-image: url("https://i.imgur.com/No31w4g.png");
        background-position: center;
        background-size: contain;
        z-index: 99;
    }

    @media (max-width: 1250px) {
        p {
            color: white;
            font-size: 6rem;
            text-align: center;
            letter-spacing: 0.4rem;
        }

        .image :nth-child(2) {
            color: white;
            font-size: 4rem;
            text-align: center;
            letter-spacing: 0.2rem;
            text-decoration: underline solid white;
        }

    }

    @media (max-width: 800px) {
        p {
            color: white;
            font-size: 4rem;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        .image :nth-child(2) {
            color: white;
            font-size: 2rem;
            text-align: center;
            letter-spacing: 0.1rem;
            text-decoration: underline solid white;
        }

    }

}