body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

aside {
    width: 200px;
    background: #111;
    color: #fff;
    transition: width 1s;
}

.no-aside {
    width: 60px;
}

main {
    background: #EEE;
}

h1,
p {
    margin: 1rem;
}

p {
    font-size: 1.2rem;
    color: #333;
}

.toggle {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    margin-top: 1rem;
}

.toggle i,
.toggle i::after,
.toggle i::before {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    transition: transform .15s;
    background-color: #fff;
}

.toggle i {
    top: 46%;
    left: 18%;
    display: block;
    background: #EEE;
}

.toggle i::before {
    top: -10px;
}

.toggle i::after {
    bottom: -10px;
}

.toggle i::after,
.toggle i::before {
    content: '';
    display: block;
}

.toggle i::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.toggle i::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.no-aside .toggle i::before,
.no-aside .toggle i::after {
    transform: none;
}