<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>How To Design a CSS Layout</title>

    <link href='https://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/neopeaks/pen/AqqwjW -->
</head>

<body>

    <!-- page content and controls will be here -->
    <h1>How to Design a CSS Layout</h1>

    <p>Simple tutorial on how to design a css layout.</p>


    <div class="grid">
        <div class="row clearfix">
            <div class="columns four">
                4col
            </div>

            <div class="columns eight">
                8col
            </div>
        </div>

        <div class="row clearfix">
            <div class="columns four">
                4col
            </div>

            <div class="columns four">
                4col
            </div>

            <div class="columns four">
                4col
            </div>
        </div>

        <div class="row clearfix">
            <div class="columns six">
                6col
            </div>

            <div class="columns six">
                6col
            </div>
        </div>

        <div class="row clearfix">
            <div class="columns six">
                6col
            </div>

            <div class="columns six">
                6col
            </div>
        </div>

        <div class="row clearfix">
            <div class="columns twelve">
                12col
            </div>
        </div>
    </div>


</body>

</html>