@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600;900&display=swap");

body {
    border: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Red Hat Display", sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    >div {
        padding: 20px;
        background: #fdfeff;
        border: 1px #000 solid;
        margin: 20px;
        border-radius: 12px;
        box-shadow: 8px 7px #5678ff;

        &:nth-child(odd) {
            background: #fdfeff;
            border: 2px #000 solid;
            border-radius: 12px;
            box-shadow: 8px 7px #5678ff;
            position: relative;

            >table {
                padding: 10px;
                border: 2px solid #000;
                border-radius: 12px;
                background: #feffe6;
                width: 100%;
                text-align: left;
            }

            &::before {
                position: absolute;
                content: "";
                background: #5678ff;
                height: 45px;
                width: 45px;
                border: 2px #000 solid;
                border-radius: 10%;
                top: -10px;
                z-index: -1;
                left: -10px;
            }

            h2 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
                color: #5678ff;
            }
        }

        &:nth-child(even) {
            background: #fffffa;
            border: 2px #000 solid;
            border-radius: 12px;
            box-shadow: 8px 7px #fbff56;
            position: relative;

            >table {
                padding: 10px;
                border: 2px solid #000;
                border-radius: 12px;
                background: #feffe6;
                width: 100%;
                text-align: left;
            }

            h2 {
                text-transform: uppercase;
                font-size: 18px;
                color: #656708;
            }

            &::before {
                position: absolute;
                content: "";
                background: #fbff56;
                height: 45px;
                width: 45px;
                border: 2px #000 solid;
                border-radius: 10%;
                top: -10px;
                z-index: -1;
                left: -10px;
            }
        }
    }
}

.profile {
    grid-area: 1 / 1 / 2 / 2;
}

.schedule-table {
    grid-area: 2 / 1 / 3 / 3;
}

.exercise-table {
    grid-area: 1 / 2 / 2 / 3;
}

.calories {
    grid-area: 1 / 5 / 2 / 6;
}

.personal-bests {
    grid-area: 2 / 5 / 3 / 6;
}

.challenges {
    grid-area: 2 / 3 / 3 / 5;
}

.activity-feed {
    grid-area: 1 / 3 / 2 / 5;
}