<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Responsive Flex Wrap Grid</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/ChrisBup/pen/abPvZzg -->
</head>

<body>

    <!-- page content and controls will be here -->
    <!-- https://codepen.io/danielboggs/pen/bGOVeGo -->

    <main class="wrapper">
        <div class="container">
            <ul>
                <li>Culpa justo quo possimus incididunt</li>
                <li>montes dis diamlorem, varius eaque impedit</li>
                <li>scelerisque, commodi, iusto nascetur, nam</li>
                <li>netus malesuada minim</li>
                <li>vivamus augue phasellus</li>
                <li>sagittis, expedita velit, unde porta</li>
                <li>quisque vestibulum</li>
                <li>commodi montes dis diamlorem</li>
                <li>blandit necessitatibus</li>
                <li>impedit elementum urna</li>
                <li>Pellentesque, consectetuer</li>
            </ul>
        </div>
    </main>

</body>

</html>