@import url(https://fonts.googleapis.com/css?family=Anaheim);

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

:root {
    --card-height: 100px;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}


h1 {
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}

.container {
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}

#carousel:hover {
	animation-play-state: paused;
}

#carousel figure {
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	overflow: hidden;
	border: solid 2px black;
}

#carousel figure:nth-child(1) { transform: rotateY(0deg)   translateZ(288px); }
#carousel figure:nth-child(2) { transform: rotateY(40deg)  translateZ(288px); }
#carousel figure:nth-child(3) { transform: rotateY(80deg)  translateZ(288px); }
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }

#carousel figure {
    backface-visibility: hidden;
}

img {
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}

img:hover {
	-webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation {
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}


/*//////////////////*/



.card {
    background: #ecedf0;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgba(226, 197, 240, 0);
    cursor: pointer;
    font-family: cursive;
}

.card:hover {
    color: rgb(207, 172, 214);
    transition: color 3s;
}

/*
.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}
*/


.card:hover:before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #d15dff, #983ce3 43%, #6f47aa);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card:hover:after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient( var(--rotate), #d15dff, #983ce3 43%, #6f47aa);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}