* {
    box-sizing: border-box;
}

#burger {
    margin: 50px;

    &:hover {
        cursor: pointer;
    }

    z-index:5;
    position:relative;
}

.aside {
    background: #BDBDBD;
    color: yellow;
    width: 400px;
    height: 100vh;
    position: absolute;
    padding: 120px 50px;
    top: 0;
    left: -400px;
    z-index: 1;
}