<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sticky Navigation Layout</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/moxsim/pen/abPqwwV -->
</head>

<body>

    <!-- page content and controls will be here -->
    <header>
        <nav>
            <a href="#fish">Fish</a>
            <a href="#socks">Socks</a>
            <a href="#skunk">Skunk</a>
            <a href="#punk">Punk</a>
            <div class="indicator"></div>
        </nav>
    </header>
    <section id="fish">
        <img src="https://moxsim.ru/codepen/011-stinky/fish.jpg">
    </section>
    <section id="socks">
        <img src="https://moxsim.ru/codepen/011-stinky/socks.jpg">
    </section>
    <section id="skunk">
        <img src="https://moxsim.ru/codepen/011-stinky/skunk.jpg">
    </section>
    <section id="punk">
        <img src="https://moxsim.ru/codepen/011-stinky/punk_.jpg">
    </section>


    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>