<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Piet Mondrain, Composition II</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- source -->
    <!-- https://codepen.io/indi/pen/nbgdex -->
</head>

<body>

    <!-- page content and controls will be here -->
    <div class="art-canvas">
        <div class="block-1"></div>
        <div class="block-2"></div>
        <div class="block-3"></div>
        <div class="block-4"></div>
        <div class="block-5"></div>
        <div class="block-6"></div>
        <div class="block-7"></div>  
    </div>
    
    <div class="caption">
        <p>Piet Mondrian, Composition II in Red, Blue, and Yellow, 1930</p>
        <a href="http://www.anthroposophie.net/bilder/mondrian_comp_rgb.jpg"> Actual Image</a>
    </div>

</body>

</html>

