@font-face {
  font-family: johnston100-medium;
  src: url(https://mrdarrengriffin.com/Johnston100-Medium.woff2) format("woff2"), url(https://mrdarrengriffin.com/Johnston100-Medium.woff) format("woff");
}
:root {
  --tfl-red: #e32119;
  --tfl-blue: #003888;
  --tfl-green: #00792c;
  --tfl-light-blue: #0098D4;
  --tfl-station-index: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  background: white;
  display: flex;
  margin: 0 auto 10vh auto;
  max-width: 1200px;
}

.tfl-roundel {
  color: #ffffff;
  font-family: johnston100-medium;
  font-size: 18px;
  height: 26px;
  isolation: isolate;
  margin: 54px 4px;
  position: relative;
  text-transform: uppercase;
  width: 160px;
  z-index: 1;
}
.tfl-roundel div {
  align-items: center;
  background: var(--tfl-blue);
  display: flex;
  flex-direction: column;
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.tfl-roundel div span {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 26px;
  transform: translateY(calc(-26px * var(--tfl-station-index)));
  transition: transform 0.4s ease-out;
  white-space: nowrap;
}
.tfl-roundel div span:last-child {
  font-size: 14px;
}
.tfl-roundel:before {
  background: var(--tfl-red);
  border-radius: 50%;
  content: "";
  height: 132px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 132px;
  z-index: -2;
}
.tfl-roundel:after {
  background: #ffffff;
  border-radius: 50%;
  content: "";
  height: 86px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  z-index: -1;
}

.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  position: relative;
}
.sidebar .tfl-roundel-container {
  background: #ffffff;
  height: 132px;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidebar .tfl-roundel-container:before {
  background: #ffffff;
  bottom: -1rem;
  content: "";
  height: 50vh;
  left: calc(50% - 4px);
  position: absolute;
  width: 8px;
}

.line {
  background: var(--tfl-green);
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: johnston100-medium;
  gap: 20vh;
  top: 0;
  width: 8px;
}
.line a {
  color: var(--tfl-blue);
  text-decoration-color: rgba(0, 0, 0, 0.2);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  transition: text-decoration 0.2s ease-in-out;
}
.line a:hover {
  text-decoration-color: var(--tfl-red);
  text-decoration-thickness: 4px;
}
.line a:hover div {
  color: var(--tfl-red);
}
.line a div {
  display: inline;
  font-size: 32px;
  transition: color 0.2s ease-in-out;
}
.line:after {
  background: var(--tfl-green);
  bottom: 0;
  content: "";
  height: 5.28px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 18.56px;
}
.line .station {
  height: 3rem;
  isolation: isolate;
  line-height: 1;
  position: sticky;
  top: 12rem;
  white-space: nowrap;
}
.line .station:last-child {
  line-height: 1.5;
  margin-bottom: 80vh;
}
.line .station:last-child span {
  margin-top: -6px;
  pointer-events: all;
}
.line .station:first-child {
  z-index: 1;
}
.line .station:first-child span {
  background: transparent;
}
.line .station span {
  pointer-events: none;
}
.line .station span:before {
  background: var(--tfl-green);
  content: "";
  height: 5.28px;
  left: -32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13.28px;
}
.line .station:not(.line .station.interchange) span:before {
  z-index: -10 !important;
}
.line .station.interchange span:after {
  background: #ffffff;
  border-radius: 50%;
  border: 4px solid #000000;
  content: "";
  height: 16px;
  left: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  z-index: 10;
}
.line .station span {
  background: #ffffff;
  color: var(--tfl-blue);
  font-size: 28px;
  height: 2rem;
  left: 32px;
  padding: 0.5rem 0;
  position: absolute;
  width: 20rem;
}
.line .station span svg {
  aspect-ratio: 1/1;
  height: 24px;
  width: 24px;
}

/*# sourceMappingURL=styles.css.map */
