body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, tomato, orangered);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

.dashboard {
    padding: 8px;
    width: calc(100% - 16px);
    height: calc(100v - 16px);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.dashboard>div {
    transition: 0.7s all ease-in-out;
}

.dashboard>div:not(.super-bento-col, .super-bento-row) {
    border-radius: 10px;
    background: rgb(255 255 255 / 0.5);
    padding: 5px 10px;
}

.dashboard .super-bento-col {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
}

.dashboard .super-bento-row {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.dashboard .super-bento-col>div,
.dashboard .super-bento-row>div {
    border-radius: 10px;
    background: rgb(255 255 255 / 0.5);
    padding: 5px 20px;
}

.dashboard .activity-feed {
    width: calc(200% - 85px);
}

.dashboard>div:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s all ease-in-out;
    background: rgb(255 255 255 / 0.5);
    border-radius: 20px;
}

.dashboard:has(> div:hover)>div:not(:hover) {
    opacity: .7;
}